*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:root {
  font-size: 16px;
}

body {
  background: url(./assets/bg-image.png) no-repeat rgb(5, 5, 5);
  background-position: top;
  background-size: cover;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  color: #fff;
  text-align: center;
}

.top-menu {
  padding: 40px 0;
  display: flex;
  gap: 40px;

  font-size: 1.3rem;
  font-weight: 400;
}

.main-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.headline {
  font-weight: 700;
  font-size: 4.5rem;
}

.subheadline {
  font-size: 1.3rem;
}
